<div class="m-2">
    <div>
        <h1 class="text-center"> The Daily Prthom-alo</h1>
    </div>
    <div>
        <h6 class="my-1 mx-5">Click on a date to see news headline</h6>
        <button *ngIf="!isTodayClicked" class="my-1 mx-5" type="button" (click)="getCurrentDayNews()">Get Today's News</button>
        <div *ngFor="let n of news">
            <button type="button" [ngClass]="{ 'active' : isValue == n.newsDate }" (click)="headline(n.newsDate)" class="my-1 mx-5">
                {{n.newsDate}}
            </button>

            <div  *ngIf="n.newsDate === clickedDate">
                <ul class="mx-5" *ngFor="let headLine of n.headline">
                    <li>{{headLine.title}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>