<div>
    <div>
        <h1 class="text-center"> The Daily Prthom-alo</h1>
    </div>
    <div>
        <h6>Click on a date to see news headline</h6>
        <div *ngFor="let n of news">
            <button (click)="headline(n.newsDate)" class="my-1">
                {{n.newsDate}}
            </button>
            <div  *ngIf="n.newsDate === clickedDate">
                <ul *ngFor="let headLine of n.headline">
                    <li>{{headLine.title}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>